{% extends "index.html" %}

{% block seo %}
   {% set author_name_in_url = term.permalink | trim_end_matches(pat="/") | split(pat="/") | last %}
   {% set section = get_section(path="authors/_index.md") %}
 
   {% if section.extra.author_pages[author_name_in_url] %}
     {% set_global author_page = get_page(path=section.extra.author_pages[author_name_in_url])%}
   {% endif %}
   {% if author_page and author_page.title %}
     {% set_global title = author_page.title %}
   {% else %}
     {% set_global title = term.name %}
   {% endif %}


  {% if author_page and author_page.description %}
    {% set description = author_page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}


{% endblock seo %}


{% block content %}
    <div class="taxonomy">
        <h2>{% if author_page and author_page.content %}About {% endif %}{{ term.name }}</h2>
        {% if author_page and author_page.content %}
           <div class="text-center">{{ author_page.content | safe }}</div>
        {% endif %}
        <h3>Latest posts by {{ term.name }}</h3>
        {% for page in term.pages %}
            <div class="taxonomy__item">
                <span class="taxonomy__item__time">{{ page.date | date(format="%F") }}</span>
                <span class="taxonomy__item__title">
                    <a href="{{ page.permalink }}">{{ page.title }}</a>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
